<div class="footer">
    <div class="footer-container ">
        <div class="content-container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="footer__menu">
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="Menu.html" class="footer__link">
                                    Our menu
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link footer__link_sm-invisible">
                                    ~
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">
                                    Gallery
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link footer__link_sm-invisible">
                                    ~
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">
                                    Culture
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="footer__logo">
                        <a href="index.html" class="footer__text">Gustoso</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="footer__menu">
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#" class="footer__link">
                                    Events
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link footer__link_sm-invisible">
                                    ~
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">
                                    Catering
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link footer__link_sm-invisible">
                                    ~
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">
                                    Visit us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>