<header class="header">
    <div class="content-container">
        <div class="logo-container">
            <a href="index.html" class="Logo">
                Gustoso
            </a>
        </div>
        <div class="nav-container">
            <button type="button" class="navbar-toggle collapsed nav-container_toggle-btn" data-toggle="collapse" data-target="#mainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <nav class="navigation-menu">
                    <div class="Menu">
                        <ul class="Menu__list">
                            <li class="Menu__item">
                                <a href="index.html" class="Menu__link">
                                    Welcome
                                </a>
                            </li>
                            <li class="Menu__item Menu__item_sm-nonvisible">~</li>
                            <li class="Menu__item">
                                <a href="Menu.html" class="Menu__link">
                                    Menu
                                </a>
                            </li>
                            <li class="Menu__item Menu__item_sm-nonvisible">~</li>
                            <li class="Menu__item">
                                <a href="Price-list.html" class="Menu__link">
                                    Prices
                                </a>
                            </li>
                            <li class="Menu__item Menu__item_sm-nonvisible">~</li>
                            <li class="Menu__item">
                                <a href="Reservation.html" class="Menu__link">
                                    Reservation
                                </a>
                            </li>
                            <li class="Menu__item Menu__item_sm-nonvisible">~</li>
                            <li class="Menu__item">
                                <a href="Contact_us.html" class="Menu__link">
                                    Contact
                                </a>
                            </li>
                            <li class="Menu__item Menu__item_sm-nonvisible">~</li>
                            <li class="Menu__item Logout" onclick="logout()">
                                <a class="Menu__link">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="Social-networks-menu">
                        <ul class="Social-networks-menu__list">
                            <li class="Social-networks-menu__item">
                                <a href="https://twitter.com/?lang=uk" target="_blank" class="Social-networks-menu__link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="Social-networks-menu__item">
                                <a href="https://www.facebook.com" target="_blank" class="Social-networks-menu__link">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="Social-networks-menu__item">
                                <a href="https://www.instagram.com/" target="_blank" class="Social-networks-menu__link">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>